




.hero {
    height: 150px;
    width: 100%;
    background-image: url("images/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;

}

body {
    background-color:white;
    color: darkblue;
}


.footer {
    padding: 100px;
    text-align: center;

}